@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10vh
}

.introduction-container {
    width: 35%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    font-size: 24pt;
}

.introduction-main-text-container {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.introduction-main-text-01 {
    font-weight: 100;
}

.introduction-main-text-02 {
    font-weight: 300;
}

.introduction-description-text {
    width: 50%;
    margin: auto;
    display: flex;
}

@media screen and (max-width: 480px) {
    .introduction-container {
        width: 100%;
        font-size: 24pt;
        flex-direction: column;
        padding: 10%;
    }

    .introduction-main-text-container {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .introduction-description-text {
        width: 100%;
        margin: auto;
        display: flex;
    }
}

@media screen and (max-width: 620px) {
    .introduction-container {
        width: 100%;
        font-size: 24pt;
        flex-direction: column;
        padding: 10%;
    }

    .introduction-main-text-container {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .introduction-description-text {
        width: 100%;
        margin: auto;
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .introduction-container {
        width: 70%;
    }
}

@media screen and (max-width: 1024px) {
    .introduction-container {
        width: 70%;
    }
}

@media screen and (max-width: 1200px) {
    .introduction-container {
        width: 70%;
    }
}

@media screen and (min-width: 1201px) {
    .introduction-container {
        width: 70%;
        font-size: 36pt;
    }
}