body {
  margin: 0;
  background-color: #32385c;
  color: white;
  font-family: 'Roboto', sans-serif;
}

/* Firefox */
::-moz-selection {
  color: white;
  background: #435372;
}

::selection {
  color: white;
  background: #435372;
}